#map {
    height: 100vh;
    width: 100vw;
}
.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
    filter: invert(100%) hue-rotate(200deg) brightness(100%) contrast(90%);
}