<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/edit/{name}}" th:method="post" th:each="mar:${marker}">

    <label for="name">Name:</label>
    <input type="text" id="name" required th:value="${mar.getName()}">
    <label for="dis">Discription</label>
    <input type="text" id="dis" required th:value="${mar.getDescription()}">
    <label for="imag">Image URL</label>
    <input type="url" id="imag" required th:value="${mar.getImage_url()}">
    <label for="x-cord">X-Cord</label>
    <input type="number" id="x-cord" required th:value="${mar.getX_coord()}">
    <label for="y-cord">Y-Cord</label>
    <input type="number" id="y-cord" required th:valie="${mar.getY_coord()}">
</form>

<button id="submit" type="submit" class="btn">Edit</button><a th:href="@{/}" class="btn btn-danger">Back</a>

</body>
</html>