<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="/theme.css">
    </head>

    <body>
        <form th:action="@{/login}" method="POST">
            <h2>Login</h2>
            <input type="text" name="username" placeholder="Username" required><br>
            <input type="password" name="password" placeholder="Password" required><br><br>
            <input type="submit" value="Login">
        </form>
        <form th:action="@{/login/register_redirect}" method="POST">
            <input type="submit" value="Register">
        </form>
    </body>
</html>